{% extends "base.html" %} {% load static %} 

{% block content %}
<div class="main-section pt-5">
  <div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
            <div class="tabs-holder horizontal" style="height: auto;">
                <div class="sticky-wrpper" style="height: auto;"><ul class="stickynav-tabs nav nav-tabs" style="position: relative; width: 100%; top: auto;">
                    <li class="active"><a data-toggle="tab" href="#home" aria-expanded="true"><i class="icon- icon-room_service"></i>Menu</a></li>
                </ul></div>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade active in">
                        <div class="menu-itam-holder" style="">
                            <div id="menu-item-list-6272" class="menu-itam-list">
                                <div class="element-title" id="menu-category-0">
                                    <h5 class="text-color">Your Orders</h5>
                                    <span>Place Order And get all your favourite food delivered.</span>
                                </div>
                                {% if cart %}
                                <ul>
                                    {% for item in cart %}
                                    <li id="{{item.id}}">
                                        <div class="image-holder"> <a href="{{item.fooditem.image.url}}" rel="prettyPhoto"><img src="{{item.fooditem.image.url}}" alt=""></a></div>
                                        <div class="text-holder">
                                            <h6>{{item.fooditem}}</h6>
                                            <span>{{item.fooditem.description}}</span>
                                            <a href="{% url 'Vendor-Detail' item.fooditem.vendor.vendor_slug %}" class="badge badge-warning">{{item.fooditem.vendor}}</a>
                                        </div>

                                        <div class="price-holder">
                                            <span class="price">{{item.fooditem.price}}</span>
                                            <a href="#"class="decrease_cart" data-id="{{item.fooditem.id}}" data-url="{% url 'Decrease-Cart' item.fooditem.id %}" ><i class="icon-minus text-color"></i></a>
                                            <label id ="qty-{{item.fooditem.id}}" style="margin-left: 28px;">{{item.quantity}}</label>
                                            <a href="#" class="add_to_cart" data-id="{{item.fooditem.id}}" data-url="{% url 'Add-To-Cart' item.fooditem.id %}" ><i class="icon-plus4 text-color"></i></a>
                                            <a href="#" class="delete_cart" data-id="{{item.fooditem.id}}" data-url="{% url 'Delete-Cart' item.id %}" ><i class="icon-delete text-color"></i></a>
                                        </div>
                                    </li>
                                    
                                    {% endfor %}
                                </ul>
                                {% else %}
                                    <h3>Empy Cart Hai bro!!</h3>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                <span class="sticky-stopper"></span></div>
            </div>
        </div>
        
        <!-- Order Section Here -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="user-order-holder">
                <div class="user-order">
                    <h6><i class="icon-shopping-basket"></i>Your Order</h6>
                    <div class="price-area dev-menu-price-con">
                        <ul>
                  <li>
                      Subtotal
                      <span class="currency price"
                      >£<em class="dev-menu-subtotal" id="subtotal">{{subtotal}}</em></span
                      >
                    </li>
                  <li>
                      VAT (13%)
                      <span class="currency price"
                      >£<em class="dev-menu-vtax" id="tax">{{tax}}</em></span
                      >
                    </li>
                </ul>
                <p class="total-price">
                    Total
                    <span class="currency price"
                    >£<em id="total" class="dev-menu-grtotal">{{total}}</em></span
                    >
                </p>
            </div>
            <a href="#" class="menu-order-confirm">Confirm Order</a>
            <span class="menu-loader"></span>
        </div>
    </div>
</div>
</div>
    </div>
</div>
</div>

</div>
{% endblock content %}
