{% extends "base.html" %} {% load static %} 

{% block content %}
<div class="main-section pt-5">
  <div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
            <div class="tabs-holder horizontal" style="height: auto;">
                <div class="sticky-wrpper" style="height: auto;"><ul class="stickynav-tabs nav nav-tabs" style="position: relative; width: 100%; top: auto;">
                    <li class="active"><a data-toggle="tab" href="#home" aria-expanded="true"><i class="icon- icon-room_service"></i>Menu</a></li>
                </ul></div>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade active in">
                        <div class="menu-itam-holder" style="">
                            <div id="menu-item-list-6272" class="menu-itam-list">
                                <div class="element-title" id="menu-category-0">
                                    <h5 class="text-color">Review Your Billing Address</h5>
                                </div></div>
                        </div>
                    </div>
                <span class="sticky-stopper"></span></div>
            </div>
        </div>
        
        <!-- Order Section Here -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="user-order-holder">
                <div class="user-order">
                    <h6><i class="icon-shopping-basket"></i>Your Order</h6>
                    <div class="price-area dev-menu-price-con">
                        <ul>
                  <li>
                      Subtotal
                      <span class="currency price"
                      >$<em class="dev-menu-subtotal" id="subtotal">{{subtotal}}</em></span
                      >
                    </li>
                  <li>
                      VAT (13%)
                      <span class="currency price"
                      >$<em class="dev-menu-vtax" id="tax">{{tax}}</em></span
                      >
                    </li>
                </ul>
                <p class="total-price">
                    Total
                    <span class="currency price"
                    >$<em id="total" class="dev-menu-grtotal">{{total}}</em></span
                    >
                </p>

            </div>
            <a href="{% url 'Checkout' %}" class="menu-order-confirm">Confirm Order</a>
            <span class="menu-loader"></span>
        </div>
    </div>
</div>
</div>
    </div>
</div>
</div>

</div>
{% endblock content %}
